<div id="photon-{{model.id}}" ng-controller="photon.controller">

	<div class="umb-property-editor umb-mediapicker umb-mediapicker-single">

		<div class="flex flex-wrap" ng-style="{'width' : (showAdd() ? '144px' : model.config.imageWidth + 20 + 'px')}">
			<ul class="umb-sortable-thumbnails">

				<li class="umb-sortable-thumbnails__wrapper" ng-if="!showAdd()" style="width: {{model.config.imageWidth}}px !important; height: auto !important; margin: 5px 5px 0 5px !important;">

					<p class="label label__trashed" ng-if="tmpModel.trashed">
						<localize key="mediaPicker_trashed"></localize>
						<i class="icon-trash" aria-hidden="true"></i>
					</p>

					<photon-image src="{{tmpModel.imageSrc}}" model="tmpModel" config="model.config"></photon-image>

					<div class="umb-sortable-thumbnails__actions">
						<a class="umb-sortable-thumbnails__action" href="" ng-click="add()">
							<i class="icon icon-edit"></i>
						</a>
						<a class="umb-sortable-thumbnails__action -red" href="" ng-click="clear()">
							<i class="icon icon-delete"></i>
						</a>
					</div>
				</li>

				<li style="border: none;" class="add-wrapper unsortable" ng-if="showAdd()">
					<a href="#" class="add-link add-link-square" ng-click="add()" prevent-default="">
						<i class="icon icon-add large"></i>
					</a>
				</li>
			</ul>
		</div>

	</div>

</div>